---
export const prerender = false;
import MainLayout from "../../layouts/Layout-onboarding.astro";
---

<MainLayout
  title="login"
  nextHref="/onboarding/step-1"
  backHref="/onboarding/welkom-no-loader"
  headingText=""
  bodyText=""
  step={1}
  totalSteps={5}
>
  <!-- <img class="mockup"
    src="../../public/images/Mensenkennerskaderdoof.png"
    alt="Mensenkenners logo"
  /> -->

  <form class="login-form">
    <!-- <div class="buttons-container">
        <button class="button-login active">
          inloggen
        </button>
    
        <button class="button-register not-active">
          registreren
        </button>
      </div> -->
    <fieldset>
      <legend>Account</legend>

      <div class="container-name">
          <label for="first-name">
            Naam
            <input type="text" id="first-name" name="first-name" placeholder="" />
          </label>
    
          <label for="last-name">
            Achternaam
            <input type="text" id="last-name" name="last-name" placeholder="" />
          </label>
      </div>


      <label for="email">
        E-mailadres
        <input type="email" id="email" name="email" placeholder="" />
      </label>
    </fieldset>
  </form>
</MainLayout>

<style>
  img {
    width: 70%;
    max-width: 400px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons-container {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;

    & button {
      padding: 0.4rem 1.5rem;
      border: none;
      font-size: var(--size-xs);
      border-radius: 50px;
      cursor: pointer;
      font-weight: bold;
      width: 100%;
    }

    & button.active {
      background-color: var(--color-cyan);
      color: var(--color-background);
    }

    & button.not-active {
      background-color: var(--color-background);
      color: var(--color-cyan);
    }
  }
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: none;
    margin: var(--size-base) 0;
    width: 100%;

    & legend {
      font-size: var(--size-lg);
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-size: var(--size-base);

    & input {
      padding: 0.5em;
      border: 1px solid var(--color-gray);
      border-radius: 4px;
      font-size: var(--size-base);
    }
  }

  .container-name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
</style>
