---
import MainLayout from "../../layouts/Layout-onboarding.astro";
import { supabase } from "../../lib/supabase";

export const prerender = false;
---

<MainLayout
  title="login"
  nextHref="/onboarding/step-1"
  backHref="/onboarding/welkom-no-loader"
  headingText=""
  bodyText=""
  step={1}
  totalSteps={5}
  showProgress={false}
  showBack={false}
  showNext={false}
  mockupSrc="/images/Mensenkennerskaderdoof.png"
  variant="login"
>
  <img
    class="logo-desktop-login"
    src="/images/Mensenkenners-logo-hori.png"
    alt="Mensenkenners logo"
  />

  <form class="login-form" method="post">
    <fieldset>
      <div class="title-login">
        <legend>Login</legend>
      </div>

      <div class="container-name">
        <label for="email">
          E-mailadres
          <input type="email" id="email" name="email" required />
          <p class="error">Vul hier je e-mailadres in.</p>
        </label>

        <label for="password">
          Wachtwoord
          <input
            type="password"
            id="password"
            name="password"
            placeholder=""
            required
          />
          <p class="error">Vul hier je wachtwoord in.</p>
        </label>
      </div>

      <p class="login-link">
        Heb je nog geen account? <a href="/onboarding/register"
          >Maak een account</a
        >
      </p>
    </fieldset>

    <div class="buttons-onboarding">
      <a class="button-back" href="/onboarding/welkom-no-loader" id="back-btn">
        <button type="button">Ga terug</button>
      </a>
      <button type="submit">Login</button>
    </div>
  </form>
</MainLayout>

<script>
  // @ts-nocheck
  import { supabase } from "../../lib/supabase";

  const form = document.querySelector(".login-form");
  const emailInput = document.getElementById("email");
  const passwordInput = document.getElementById("password");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const email = emailInput.value.trim();
    const password = passwordInput.value.trim();

    const { data, error } = await supabase.auth.signInWithPassword({
      email,
      password,
    });

    if (error) {
      console.error("Login error:", error.message);
      alert("Inloggen mislukt: " + error.message);
      return;
    }

    console.log("Ingelogd als:", data.user.id);

    window.location.replace("/onboarding/step-1");
  });
</script>
