---
export const prerender = false;
import MainLayout from "../../layouts/Layout-onboarding.astro";
---

<MainLayout
  title="Welkom"
  nextHref="/onboarding/step-1"
  headingText="Welkom bij Mensenkenners!"
  bodyText="We gaan je een aantal vragen stellen om je ervaring zo persoonlijk mogelijk te maken."
  step={1}
  totalSteps={5}
  showBack={false}
  showProgress={false}
>
  <div class="loader">
    <img
      src="../../public/images/Mensenkenners-horizontaal-w.png"
      alt="Mensenkenners logo"
    />
  </div>

  <img
    class="mockup"
    src="../../public/images/mockupmensenkenners.png"
    alt="Mensenkenners logo"
  />
</MainLayout>

<style>
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-cyan);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    mask-image:
      radial-gradient(circle, black 50%, transparent 50%),
      radial-gradient(circle, black 50%, transparent 50%);
    mask-size:
      0px 0px,
      0px 0px;
    mask-repeat: no-repeat;
    mask-position:
      0% 50%,
      100% 50%;

    transition:
      mask-size 1.2s ease,
      mask-position 1.2s ease,
      transform 0.6s cubic-bezier(0.77, 0, 0.18, 1);

    & img {
      width: 70%;
    }
  }

  @media (max-width: 768px) {
    .loader {
      mask-image: none;
      mask-size: unset;
    }
  }

  .loader.revealed {
    mask-size:
      150% 350%,
      150% 350%;
    mask-position:
      50% 50%,
      50% 50%;
  }

  .loader.hidden {
    transform: translateY(-100%);
    transition-delay: 1.2s;
  }

  .loader.hidden-mobile {
    transform: translateY(-100%);
  }

  .mockup {
    margin-top: 4rem;
  }

  @media (min-width: 768px) {
    .loader {
      display: flex;
      justify-content: center;

      & img {
        width: 30%;
      }
    }

    .mockup {
      margin-top: 0;
      width: 60% !important;
    }
  }
</style>

<script>
  const loader = document.querySelector(".loader");

  if (loader) {
    const isMobile = window.matchMedia("(max-width: 768px)").matches;

    window.addEventListener("load", () => {
      if (isMobile) {
        setTimeout(() => {
          loader.classList.add("hidden-mobile");
        }, 750);
      } else {
        requestAnimationFrame(() => {
          requestAnimationFrame(() => {
            loader.classList.add("revealed");
          });
        });
      }
    });

    loader.addEventListener("transitionend", (e) => {
      if (e.propertyName === "mask-size") {
        loader.classList.add("hidden");
      }
    });
  }
</script>
