---
// @ts-nocheck
export const prerender = false;
import MainLayout from '../layouts/Layout.astro';


---
<!-- <MainLayout title="homepage">
</MainLayout> -->

<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Algemeen</title>
    <link rel="stylesheet" href="/styles/vragen.css"/>
  </head>

  <body>
    <main>
        
    </main>
  </body>

</html>