---
// @ts-nocheck
export const prerender = false;
import DetailLayout from '../layouts/DetailLayout.astro';


---

<DetailLayout title="dummy">
<main>
<h1>Dummy page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, vero natus quibusdam impedit praesentium necessitatibus minima nemo esse officiis exercitationem numquam dicta. Laudantium obcaecati ipsum sapiente eos rem sunt officia?
Labore voluptatem maiores minima distinctio natus omnis accusantium repudiandae recusandae! Cumque laborum, vel optio temporibus atque natus voluptate qui iste totam voluptatem vitae rerum accusantium recusandae dolore libero ipsam asperiores.
Dolores aut aperiam sint culpa nesciunt harum fugit pariatur voluptate consequuntur. Impedit, fugiat unde. Voluptates quia dolore ipsam, ratione assumenda deleniti unde modi sequi blanditiis, earum non, reprehenderit magnam facilis.</p>
</main>

</DetailLayout>