---
// @ts-nocheck
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      
    </style>
  </head>

  <body>

    <Header />

    <main>
      
    </main>

    <Footer />


  </body>
</html>

<style>
  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
  }
</style>