---
// @ts-nocheck
export const prerender = false;
import MainLayout from '../layouts/Layout.astro';


---

<MainLayout title="homepage">
	
</MainLayout>

  <body>

    <Header />

    <main>
      
    </main>

    <Footer />


  </body>
</html>
