---
const { title } = Astro.props;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<link rel="stylesheet" href="/styles/global.css" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png?v=2" />
<script is:inline>
  if (localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.add("dark-mode");
  }
</script>

<!-- Bronnen
  Astro component om de darkmode op de main layouts om deze op alle pagina’s te laten werken.
  https://docs.astro.build/en/guides/client-side-scripts/ -->
