---
const { question, options, name } = Astro.props;
---
<div class="question">
  <p>{question}</p>
  {options.map(opt => (
    <label>
      <input type="radio" name={name} value={opt} />
      {opt}
    </label>
  ))}
</div>