*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	line-height: calc(1em + 0.5rem);
}

@font-face {
	font-family: 'Plus Jakarta Sans Bold';
	src: url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Bold Italic';
	src: url('/fonts/PlusJakartaSans-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Extra Bold';
	src: url('/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Extra Bold Italic';
	src: url('/fonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Extra Light';
	src: url('/fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Extra Light Italic';
	src: url('/fonts/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Italic';
	src: url('/fonts/PlusJakartaSans-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Light';
	src: url('/fonts/PlusJakartaSans-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Light Italic';
	src: url('/fonts/PlusJakartaSans-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Medium';
	src: url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Medium Italic';
	src: url('/fonts/PlusJakartaSans-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Regular';
	src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Plus Jakarta Sans Semi Bold';
	src: url('/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
}


html {
	scroll-behavior: smooth;

	color-scheme: light;
	--color-text: #000000;
	--color-background: #ffffff;
	--color-green: #37B086;
	--color-cyan: #B5DBCE;
	--color-pink: #E196C1;
	--color-blue: #758dc7;
	--color-red: #EB673A;
	--color-yellow: #E4E57D;

	--font-bold: 'Plus Jakarta Sans Bold', sans-serif;
	--font-bold-italic: 'Plus Jakarta Sans Bold Italic', sans-serif;
	--font-extra-bold: 'Plus Jakarta Sans Extra Bold', sans-serif;
	--font-extra-bold-italic: 'Plus Jakarta Sans Extra Bold Italic', sans-serif;
	--font-extra-light: 'Plus Jakarta Sans Extra Light', sans-serif;
	--font-extra-light-italic: 'Plus Jakarta Sans Extra Light Italic', sans-serif;
	--font-italic: 'Plus Jakarta Sans Italic', sans-serif;
	--font-light: 'Plus Jakarta Sans Light', sans-serif;
	--font-light-italic: 'Plus Jakarta Sans Light Italic', sans-serif;
	--font-medium: 'Plus Jakarta Sans Medium', sans-serif;
	--font-medium-italic: 'Plus Jakarta Sans Medium Italic', sans-serif;
	--font-regular: 'Plus Jakarta Sans Regular', sans-serif;
	--font-semi-bold: 'Plus Jakarta Sans Semi Bold', sans-serif;

	--size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-2xl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;


	font-family: 'Plus Jakarta Sans', sans-serif;
	color: var(--colour-text);
	background-color: var(--colour-background);
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}