---
const { title } = Astro.props;
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg?v=2" />
  </head>

  <body>

    <main>
      <slot />
    </main>
  

  </body>
</html>

<style>
  :global(body) {
    color: var(--color-text);
    background-color: var(--color-green);
  }

  :global(main) {
    display: grid;
    grid-template-columns: 1fr minmax(0, 800px) 1fr;
  }

  :global(main > *) {
    grid-column: 2;
  }

  :global(h1) {
    font-size: var(--size-4xl);
    font-family: var(--font-bold);
    margin:clamp(6rem, 1vw, 1rem) 0rem clamp(1rem, 1vw, 3rem) 1rem; 
  }

  :global(h2) {
    font-family: var(--font-semi-bold);
      margin: 1rem 0rem 3rem 1rem; 
  }

  :global(p) {
    font-family: var(--font-light);
      margin: 3rem 0rem 3rem 1rem; 
  }

  :global(p:nth-of-type(2)) {
      margin: 0rem 0rem 3rem 1rem; 
  }

</style>

<script>
  console.log("Bomboclat");
</script>
