---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg?v=2">
  <script is:inline>
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.classList.add("dark-mode");
    }
  </script>         
  </head>
  
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html{
    background: #f7f8f7;
    background-image: var(--gradient-bg-cyan);
  }
</style>

<!-- Bron: https://chatgpt.com/c/6a195d63-9e38-83eb-a00b-9b631d2b3a69 -->

<script>
  document.addEventListener("astro:page-load", () => {
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.classList.add("dark-mode");
    }
  });
</script>