---
export const prerender = false;
import { createSupabaseServerClient } from "../../lib/supabaseServer";

let errorMessage = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  const email = String(formData.get("email"));
  const password = String(formData.get("password"));

  const supabase = createSupabaseServerClient(Astro);

  const { error } = await supabase.auth.signInWithPassword({
    email,
    password,
  });

  if (error) {
    errorMessage = "Login mislukt";
  } else {
    return Astro.redirect("/admin");
  }
}
---

<form method="POST">
  <h1>Admin login</h1>

  <form>
    <input name="email" type="email" placeholder="E-mail" required />
    <input name="password" type="password" placeholder="Wachtwoord" required />

    <button type="submit">Inloggen</button>
  </form>
  {errorMessage && <p>{errorMessage}</p>}

  <style>
    p {
        color: red;
    }
  </style>
</form>